<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Sahil Kumar">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Driver Registration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 mt-5 bg-light rounded">
        <h1 class="text-center font-weight-bold text-primary">Driver Registration</h1>
        <hr class="bg-light">
        <h5 class="text-center text-success"></h5>
        <form action="" method="POST" id="form-box" class="p-2">
			{% csrf_token %}
          <div class="form-group input-group">
            <!-- <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div> -->
            <input type="text" name="end_loc" class="form-control" placeholder="Destination Address" required>
          </div>
          <div class="form-group input-group" >
            <!-- <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div> -->
            <p class="datetime" name = "arrival_time">
            Arrival Time: <input type="date" name="d" required id="id_pub_date_0">
                <br>
            <input type="time" name="e" required id="id_pub_date_1">
            </p>
          </div>
          <div class="form-group input-group">
            <input type="text" name="num_passengers" class="form-control" placeholder="Number Of Passengers" required>
          </div>
          <div class="form-group input-group">
            <label for="check">shareable:</label> <input type="checkbox" name="shareable" class="form-control" required>
          </div>
          <div class="form-group input-group">
            <textarea name="special_info" id="msg" class="form-control"  placeholder="Special Information" cols="30" rows="4"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" id="submit" class="btn btn-primary btn-block" value="Make Ride Request">
          </div>
        </form>
		{{form.errors}}

      </div>
    </div>
  </div>
</body>

</html>