{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rideshare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'rideshare/style1.css' %}" rel="stylesheet">
</head>
<body>
    <div class="content">
        {% block content %}
        {% for ride in rides %}
        <div class="ride-form">
          <form method="post">
              {% csrf_token %}
              <input type="hidden" name="ride_id" value="{{ ride.id }}">
              <div class="ride-details">
                  <label>Ride ID: <span>{{ ride.id }}</span></label>
                  <label>Destination: <span>{{ ride.end_loc }}</span></label>
                  <label>Arrival Time: <span>{{ ride.arrival_time }}</span></label>
                  <label>Passengers: <span>{{ ride.num_passengers }}</span></label>
              </div>
              <button type="submit" class="confirm-ride-btn">Confirm Ride</button>
          </form>
      </div>
        {% endfor %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endblock content %}
    </div>
    <button onclick="location.href='/rideshare/driverpage'" class="back-button">Go Back To Driver Page</button>
</body>
</html>
