<!DOCTYPE html>
{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>
<html lang="en">
  <body>
    {% block content %}
    {% for obj in result %}
        Ride {{ forloop.counter }} status: {{ obj.status }}
        <span><button type='submit' method='post' name=obj.id class=".hello-msg"  value = obj.id>Choose This Ride</a></span>

        
        <br/>
    {% endfor %}
    {% endblock content %}
    <button onclick="location.href = '/rideshare/'" style=" align-items: center;  padding: 10px 20px;
		font-size: 16px; display: block;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;">Go Back Home</button>
  </body>
</html>