<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'rideshare/style2.css' %}">
</head>
<body>
  <section class="content">
    {% block content %}
      {% for obj in object_list %}
        <div class="ride-entry">
          <div class="ride-details">
            <p>Ride {{ forloop.counter }}</p>
            <p>Destination: {{ obj.end_loc }}</p>
            <p>Arrival Time: {{ obj.arrival_time }}</p>
          </div>
          <a class="hello-msg" href="{% url 'rideshare:viewridedetailsdriver' obj.id %}">View Ride Details</a>
          <form method="post" class="completion-form">
            {% csrf_token %}
            <input type="hidden" name="ride_id" value="{{ obj.id }}">
            <button type="submit" class="btn btn-success">Mark as Complete</button>
          </form>
        </div>
      {% endfor %}
    {% endblock %}
  </section>
  <footer>
    <button class="back-button" onclick="location.href='/rideshare/driverpage'">Go Back To Driver Page</button>
  </footer>
</body>
</html>
