{% block content %}
    

    <h2>View Ride Information</h2>
    {{ ride_form.as_p }}
	owner's num_party : {{owner_user.num_party}}
	<br>
	<br>
	{% for su in share_user%}
		Ride Sharer {{forloop.counter}} : {{su.user.username}}    num_party : {{su.num_party}}
		<br>
		<br>
	{% endfor %}

{% endblock content %}

<button onclick="location.href = '/rideshare/viewconfirmedrides'" style=" align-items: center;  padding: 10px 20px;
		font-size: 16px; display: block;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;">View Confirmed Rides</button>